/* box */
.box {
  background: #fff;
  padding: 1.2em;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.12);
}

/* this is to remove top margin as box padding is configuored in bx class */
.box > *:first-child {
  margin-top: 0;
}

.box > p {
  margin: .3em 0;
}

.box > .colleagues {
  margin: 1em 0;
}

.box > .colleagues > .colleague {
  display: flex;
  justify-content: space-between;
}

.box > .colleagues > .colleague > .input-group {
  display: inline-block;
  width: 47%;
}

.box > .colleagues > .colleague > .input-group > input[type] {
  width: 100%;
}

.input-group {
  position: relative;
}

.input-group > .message-tip {
  color: #fff;
  margin: .3em 0 .5em;
  font-size: .9rem;
  background: #BB0000;
  padding: .4em;
  border-radius: .3em;
  margin-top: .6em;
  opacity: 1;
  -webkit-transition:opacity 250ms ease-out;
  -moz-transition:opacity 250ms ease-out;
   -ms-transition:opacity 250ms ease-out;
    -o-transition:opacity 250ms ease-out;
       transition:opacity 250ms ease-out;
}

.input-group > .message-tip::before {
  content: ' ';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #bb0000;
  position: absolute;
  top: 2.9em;
  left: 1em;
}

.input-group > .message-tip.hide {
  visibility: hidden;
  margin-top: 0;
  padding: 0;
  opacity: 0;
}

.box > .colleagues > .colleague > .remove-colleague {
  display: inline;
  padding-left: .4em;
  position: relative;
}

.box > .add-colleague {
  margin-top: .9em;
  margin-bottom: 3em;
}

.remove-colleague {
  color: #BB0000;
  cursor: pointer;
}

.box > .button-group {
  text-align: center;
}

.box > .button-group > button[type=reset] {
  border: 0;
  background: transparent;
  color: #019DDA;
  box-shadow: inherit;
  padding: .3em 0;
}

/* added colleague */
.colleague-added {
  padding: 0;
}

.colleague-added li {
  list-style: none;
  padding: .5em;
}

.colleague-added li:nth-child(even) {
  background: #dddddd;
  color: #fff;
}

.colleague-added li > .remove-colleague {
  margin-left: 1.4em;
}
