/* everybody */
* {
  font-family: Helvetica, Arial, Sans-Serif;
}

body {
  background-color: #F9F9F9;
}

a {
  color: #019DDA;
}

button {
  margin: .2em;
  background: #019DDA;
  border: 0px solid transparent;
  border-radius: 3px;
  color: #fff;
  padding: 0.7em 1.3em 0.5em 1.3em;

  -webkit-box-shadow: 0px 1px 3px 1px rgba(138,138,138,0.2);
  -moz-box-shadow: 0px 1px 3px 1px rgba(138,138,138,0.2);
  box-shadow: 0px 1px 3px 1px rgba(138,138,138,0.2);
}

input[type=text] {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(209,209,209,0.4);
  -moz-box-shadow: inset 2px 2px 2px 0px rgba(209,209,209,0.4);
  box-shadow: inset 2px 2px 2px 0px rgba(209,209,209,0.4);
  border: 1px solid #E2E2E2;
  padding: 0.6em 0.6em 0.5em 0.6em;
  width:100%;
  margin: 0 .2em;
}

/* sticky footer */
footer {
  position: absolute;
  bottom: 0;
  background: #dddddd;
  padding: 1.6em 0 1em;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

/* container that hold all the every thing*/
.container {
  margin: 1em 18%;
}

/* styling for stepper */
.stepper {
  list-style: none;
  display: inline-block;
  color: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
}

.stepper li {
  float: left;
  background: #848484;
  padding: 1.4em 0em 1.2em 2.9em;
  position: relative;
  width: 27.6%;
  margin: 0 1px;
}

/* selected in stepper */
.stepper > .selected {
  background: #019DDA;
}

.stepper > .selected > span::after {
  border-left-color: #019DDA;
}

/* generate arrows */
.stepper > li > span::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: solid transparent;
  border-left-color: #F9F9F9;
  border-width: 1.9em;
}

.stepper > li > span::after {
  content: "";
  border-left: 1.9em solid #848484;
  border-top: 1.9em solid transparent;
  border-bottom: 1.9em solid transparent;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 20;
}

/* box */
.box {
  background: #fff;
  padding: 1.2em;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.12);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.12);
}

/* this is to remove top margin as box padding is configuored in bx class */
.box > *:first-child {
  margin-top: 0;
}

.box > p {
  margin: .3em 0;
}

.box > .members {
  margin: 1em 0;
}

.box > .members > .member {
  display: flex;
  align-items: center;
}

.box > .members > .member > .remove-member {
  padding-left: .4em
}

.box > .add-member {
  margin-top: .9em;
  margin-bottom: 3em;
}

.remove-member {
  color: #BB0000;
}

.box > .button-group {
  text-align: center;
}

.box > .button-group > button[type=reset] {
  border: 0;
  background: transparent;
  color: #019DDA;
  box-shadow: inherit;
  padding: .3em 0;
}

/* added member */
.member-added {
  padding: 0;
}

.member-added li {
  list-style: none;
  padding: .5em;
}

.member-added li:nth-child(even) {
  background: #dddddd;
}

.member-added li > .remove-member {
  float: right;
}
