/* check box styling */
.square-checkbox > input[type=checkbox] {
  visibility: hidden;
}

.square-checkbox {
  width: 13px;
  height: 13px;
  border: 2px solid #019DDA;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  margin: 0 .1em 0 .6em;
}

.square-checkbox label {
  width: 9px;
	height: 9px;
	border-radius: 1px;

	transition: all .5s ease;
	cursor: pointer;
  position: absolute;
	top: 2px;
	left: 2px;
	z-index: 1;

	background: transparent;
}

.square-checkbox input[type=checkbox]:checked + label {
	background: #019DDA;
}

.square-checkbox-label {
  display: inline-block;
  position: relative;
  top: -0.4em; /* input[type]'s margin could affect the positioning */
  color: #7C7C7C;
}
